@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
.clear:after{
	content:"200b";
	line-height:0;
	font-size:0;
	clear:both;
	display:block;
}

li{
	list-style:none;
	}
a{
	text-decoration:none;
	outline:none;
	}
img{
	border:0;
	}	
.cls{
	clear:both;
	}
.notxt{
	text-indent:-9999px;
	}
.inner{
	width:1190px;
	margin:0 auto;
	}
html,body{
	height:100%;
	background:#f1f0f0;
	}
body{
	font-family:"微软雅黑";
	}
nav{
	width:100%;
	height:70px;
	position:fixed;
	left:0;
	top:0;
	z-index:99;
	}
	#nav1{
		background-color:rgba(0,0,0,0);
		}
	.logo{
		float:left;
		padding-top:16px;
		color:#fff;
		font-size: 20px;
		}
	.menu{
		float:right;
		width:485px;
		position:relative;
		}
	.menu ul li{
		float:left;
		padding:0 20px;
		text-align:center;
		height:70px;
		line-height:70px;
		}
	.menu ul li a{
		color:#fff;
		blr:expression(this.onFocus=this.blur());
		}
	.menu ul li a:hover{
		color:#68c198;
		}
	.menu ul .current a {
		color:#68c198;}
	.curBg { 
		width:68px;
		background:#68c198;
		height:3px;
		position:absolute;
		bottom:0;
		left:0px;
		}

#section-1{
	height:100%;
	background:url(../images/banner_01.jpg) no-repeat left top fixed;
	text-align:center;
	}
	.home_txt h1{
		font-size:56px;
		font-weight:normal;
		color:#68c198;
		line-height:100px;
		padding-top:350px;
		text-align:center;
		display:inline-block;
		position:relative;
		}
		.home_txt h1:before,.home_txt h1:after {
				content:"";
				display:block;
				background:#fff;
				height:2px;
				position:absolute;
				animation:move 1.5s ease-out;
				width:100%;
			}
		.home_txt h1:before {
				top:350px;
				left:0;
			}
		.home_txt h1:after {
				bottom:0;
				right:0;
			}
		@keyframes move{
			0%{width:10%;}
			100%{width:100%;}
			}
	.home_txt p{
		font-size:22px;
		color:#fff;
		line-height:100px;
		text-align:center;
		animation:move2 1.5s ease-in;
		opacity:1;
		}
	@keyframes move2{
		0%{opacity:0;}
		100%{opacity:1;}
			}
	.down{
		text-align:center;
		margin-top:255px;
		animation:move3 1.5s ease-in;
		padding-bottom:100px;
		}
	@keyframes move3{
		0%{transform:translateY(50px);
			}
		100%{transform:translateY(0);
		}
		}
	.down a{
		display:inline-block;
		width:36px;
		height:100px;
		background:url(../images/mouse.png) no-repeat left top;
		}

#section-2{
	height: 1100px;
	background:url(../images/about_bg.png) no-repeat center 180px;
	}
	.about_top h2{
		font-size:24px;
		font-weight:normal;
		color:#3a4f4f;
		line-height:45px;
		text-align:center;
		padding-top:70px;
		background:url(../images/line_03.jpg) no-repeat left bottom;
		}
	.about_top h3{
		font-size:24px;
		font-weight:normal;
		color:#3a4f4f;
		line-height:36px;
		text-align:center;
		}
	.about_top h3 i{
		font-size:16px;
		line-height:36px;
		}
	.tx{
		text-align:center;
		padding-top:25px;
		}
	.tx img{
		width: 92px;
		height: 94px;
		border-radius: 50%;
	}

	.about_inner{position: relative;}
	.left_top{
		text-align:center;
		position: relative;
		left: 600px;
		top: 95px;
		padding-left: 60px;
		}
	.left_top p{
		font-size:20px;
		color:#3a4f4f;
		line-height:50px;
		float:left;
		}
	.left_top i{
		display:inline-block;
		width:30px;
		font-size:30px;
		color:#68c198;
		margin-right:30px;
		line-height:50px;
		float:left;
		}
	.left_bot{
		width: 485px;
		text-align: right;
		position: relative;
		bottom: -450px;
		left: 50px;
		}
	.left_bot h3{
		font-size:26px;
		font-weight:normal;
		color:#68c198;
		line-height:35px;
		}
	.left_bot p{
		font-size:20px;
		color:#3a4f4f;
		line-height:50px;
		}

	.right_top{
		text-align:center;
		position: relative;
		left: 600px;
		top: 0px;
		padding-left: 60px;
		}
	.right_top p{
		font-size:20px;
		color:#3a4f4f;
		line-height:50px;
		float:left;
		}
	.right_top i{
		display:inline-block;
		width:30px;
		font-size:30px;
		color:#68c198;
		margin-right:30px;
		line-height:50px;
		float:left;
		}
	.right_bot1{
		position: relative;
		left: 310px;
		top: -275px;
		width: 220px;
		text-align: right;
		}
	.right_bot2{
	position: relative;
	left:600px;
	top: -169px;
}
	.right_bot h3{
		font-size:26px;
		font-weight:normal;
		color:#68c198;
		line-height:35px;
		padding-top:50px;
		}
	.right_bot p{
		display:inline-block;
		font-size:20px;
		color:#3a4f4f;
		line-height:32px;
		}

.mySkills{
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
	line-height: 35px;
}
	
#section-4{
	height:600px;
	}
.worksUl{text-align: center; margin-top: 50px;}
.works01{display: inline-block; position: relative; margin: 10px;}
.works01 a{width: 270px; height: 138px;}
.works01 img{width: 270px; height: 138px;}
.works01 .picHover{background:rgba(0,0,0,0.5);width: 100%;height: 100%;position: absolute;left: 0;top: 0; z-index: 1;display: none;  }
.works01 .picHover p{color:#fff; line-height: 30px; height: 30px;margin-top: 40px;}

#section-5{
	height:850px;
	background:url(../images/10135AP2-10.jpg) no-repeat left top fixed;
	}
	.contact{
		text-align:center;
		}
	.contact .weixin_pic{
		margin-top:20px;
		}
	.contact p{
		font-size:24px;
		color:#68c198;
		line-height:40px;
		padding:20px 0;
		}
	.contact .cont{
		padding:15px 0;
		}
	.contact .cont i{
		display:inline-block;
		width:50px;
		height:50px;
		border-radius:50px;
		font-size:24px;
		line-height:50px;
		color:#f1f1f1;
		background-color:#68c198;
		}
	.contact .cont p{
		font-size:24px;
		color:#3a4f4f;
		line-height:28px;
		}
	.goTopBtn a i{
		display:inline-block;
		font-size:50px;
		color:#68c198;
		}

footer{
	height:120px;
	background-color:#68c198;
	}
	.copy{
		padding-top:30px;
		}
	.copy p{
		font-size:14px;
		color:#f1f1f1;
		line-height:30px;
		text-align:center;
		}
	.copy p span{
		color:#E1F7F5;
		font-weight:bold;
		}


.weixin_pic img{width: 200px;}


